<div class="about-container">

    <div class="sub-container">
        <div class="profile-img">
            <img src="assets/images/photo-main.webp" alt="Mi foto de perfil">
        </div>
        <h1 class="name title-font typewriter"><span class="typewriter-text">{{ 'ABOUT_ME.TITLE' | translate }}</span></h1>
        <h2 class="subtitile-name subtitle-font   glow-border">{{ 'ABOUT_ME.ROLE' | translate }}</h2>

        <div class="description-about-me base-font">
            <p>
                🚀{{'ABOUT_ME.DESCRIPTION1' | translate}}
            </p>
            <p>
                {{'ABOUT_ME.DESCRIPTION2' | translate}}
            </p>
        </div>

        <div class="social-icons base-font">
            <a href="https://github.com/RubenSantiagoCP" title="Go to GitHub" target="_blank" aria-label="GitHub">
                <span>GitHub</span>
                <i class="fab fa-github"></i>
            </a>
            <a href="https://linkedin.com/in/rscruz1711" title="Go to LinkedIn" target="_blank" aria-label="LinkedIn">
                <span>LinkedIn</span>
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="#contact-me" title="Send me an email" aria-label="Correo">
                <span>{{'ABOUT_ME.SOCIALS.CONTACT' | translate}}</span>

                <i class="fas fa-envelope"></i>
            </a>
            <a href="../../../assets/resources/CV - Ruben Cruz English.pdf" aria-label="Hoja de vida" target="_blank">
                <span>{{'ABOUT_ME.SOCIALS.CV' | translate}}</span>
                <i class="fas fa-book"></i>
            </a>
        </div>
    </div>
    <div class="cohete-img">
        <img src="assets/images/cohe.webp" alt="Cohete">
    </div>
</div>