.main-content {
  width: 100%;
  flex: 1;
  scroll-behavior: smooth;
  background-color: transparent;
  padding: 0rem;

  section {
    width: 100%;
    margin-bottom: 100px;
    scroll-margin-top: 60px; // espacio al hacer scroll
  }
}
