<div class="container-main-contact">
    <div class="contact-form-container">
        <h2 class="form-title title-font">Conectemos</h2>
        <p class="form-subtitle base-font">Envíame una señal desde cualquier rincón del universo</p>

        <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" class="base-font">
            <div class="form-group">
                <input class="base-font" type="text" placeholder="Nombre" formControlName="name" />
                <small *ngIf="contactForm.get('nombre')?.invalid && contactForm.get('nombre')?.touched">Nombre
                    requerido</small>
            </div>

            <div class="form-group">
                <input class="base-font" type="email" placeholder="Email" formControlName="email" />
                <small *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                    Email válido requerido
                </small>
            </div>

            <div class="form-group">
                <textarea class="base-font" placeholder="Mensaje" formControlName="message"></textarea>
                <small *ngIf="contactForm.get('mensaje')?.invalid && contactForm.get('mensaje')?.touched">
                    El mensaje no puede estar vacío
                </small>
            </div>

            <button type="submit" [disabled]="!contactForm.valid" class="send-button">
                Enviar mensaje
            </button>
        </form>

    </div>
    <div class="container-satelite" #orbitContainer>
        <img src="../../../assets/images/contacme.webp" alt="Satélite" class="satellite-img" #satellite>
    </div>
</div>