<div class="skills-card">
    <div class="container-planet">
        <img src="../../../assets/images/planet-skilss.webp" alt="Planeta" />
    </div>
    <h2 class="title-section ">Habilidades</h2>
    <ul class="skills-list">
        <li class="skill-item aos-init aos-animate" *ngFor="let skill of lst_skills" data-aos="fade-up" data-aos-delay="300">
            <img [src]="skill.icon" alt="Java" class="skill-icon ">
            <span class="skill-name base-font">{{ skill.name }}</span>
        </li>
    </ul>
</div>