<nav class="sidebar base-font">
  <ul class="sidebar-list">
    <li class="sidebar-item">
      <a href="#sobre-mi" class="sidebar-link">Sobre mí</a>
    </li>

    <li class="sidebar-item">

      <a href="#proyectos" class="sidebar-link">Proyectos</a>
    </li>

    <li class="sidebar-item">
      <a href="#habilidades" class="sidebar-link">Habilidades</a>
    </li>

    <li class="sidebar-item">
      <a href="#habilidades" class="sidebar-link">Educación</a>
    </li>

    <li class="sidebar-item">
      <a href="#contacto" class="sidebar-link">Contáctame</a>
    </li>
  </ul>
</nav>