<nav class="sidebar base-font" [class.scrolled]="isScrolled">

  <ul class="sidebar-list">
    <li class="sidebar-item">
      <a href="#about-me" class="sidebar-link">Sobre mí</a>
    </li>

    <li class="sidebar-item">

      <a href="#projects" class="sidebar-link">Proyectos</a>
    </li>

    <li class="sidebar-item">
      <a href="#skills" class="sidebar-link">Habilidades</a>
    </li>

    <li class="sidebar-item">
      <a href="#education" class="sidebar-link">Educación</a>
    </li>

    <li class="sidebar-item">
      <a href="#contact-me" class="sidebar-link">Contáctame</a>
    </li>
  </ul>
</nav>