.app-container {
  width: 100%;
  max-width: 1920px;
  @media(max-width: 375px) {
    max-width: 375px;
  }

}

app-side-bar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

app-main {
  @media(max-width: 768px) {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}