.sidebar {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.4s ease-in-out;

  @media(max-width: 550px) {
    width: 93%;
  }
}

.sidebar.scrolled {
  background: radial-gradient(
        ellipse at center,
        rgba(11, 5, 30, 1) 0%,    /* Azul noche intenso */
        rgb(14, 5, 31) 100%   /* Morado oscuro casi invisible */
      );
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid #1E9BD1;

  @media(max-width: 550px) {
    width: 93%;
    padding: 5px;
  }
}

.sidebar-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;

  @media(max-width: 550px) {
    gap: 1rem;
  }
}

.sidebar-item {
  display: flex;
  align-items: center;
  position: relative;

  @media(max-width: 768px) {
    display: flex;
    align-items: center;
    position: relative;
  }
  
}

.sidebar-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.0rem;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.3s ease, text-shadow 0.3s ease;

  &:hover {
    color: #1E9BD1;
    text-shadow:
      0 0 1px #1E9BD1,
      0 0 5px #1E9BD1,
      0 0 9px #1E9BD1;
  }

  @media(max-width: 768px) {
    font-size: 0.4rem;
  }
}

.sidebar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 1.5px;
  background: #1E9BD1;
  transition: width 0.5s ease;
}

.sidebar-link:hover::after {
  width: 100%;
}

.sidebar-link.active {
  color: #1E9BD1;
  text-shadow:
    0 0 1px #1E9BD1,
    0 0 5px #1E9BD1,
    0 0 9px #1E9BD1;
}

.sidebar-link.active::after {
  width: 100%;
}

.lang-btn {
  background-color: transparent;
  border: 1px solid #1E9BD1;
  color: #ffffff;
  padding: 7px 8px;
  font-size: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  font-weight: 500;
  margin-right: 0.4rem;

  &:hover {
    transform: scale(1.05);
  }

  @media(max-width: 768px) {
    font-size: 0.5rem;
    padding: 4px 4px;
  }
}
