<div class="education-card">
  <div class="container-title">
    <div class="container-planet">
      <img src="../../../assets/images/education-planet.webp" alt="Planeta" />
    </div>
    <h2 class="title-section">{{ 'EDUCATION.TITLE' | translate }}</h2>
  </div>

  <div class="education-list">

    <div *ngFor="let education of lst_education" class="education-item">
      <div class="education-icon">
        <img src="{{ education.icon }}" alt="Universidad" />
      </div>
      <div class="education-info">
        <h3 class="edu-title">{{ education.title | translate}}</h3>
        <p class="edu-place base-font">{{ education.place | translate }}</p>
        <p class="edu-year base-font">{{ education.year | translate }}</p>
      </div>
    </div>
  </div>
</div>