.skills-card {
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  color: #fff;

  .skills-list {
    list-style: none;
    padding: 0;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 2.6rem;
    width: 100%;
    max-width: 800px;
    justify-items: center;
    text-align: center;

    @media(max-width: 700px) {
      width: 90%;
   }
  }

  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transform: translateY(100px);
    animation: fadeInUp 0.9s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    .skill-icon {
      width: 50px;
      height: 50px;
      filter: drop-shadow(0 0 1px #0ff7) drop-shadow(0 0 5px #1E9BD1);
      animation: scale 3s ease-in-out infinite;
    }

    .skill-name {
      font-size: 0.8rem;
      font-weight: 10;
      margin-top: 1rem;
    }

    .skill-level {
      opacity: 0.9;
      margin-top: 0.2rem;
      padding: 0.25rem 0.75rem;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 1rem;
      min-width: 80px;
      text-align: center;

  &.level-basic {
    background: #D1435B;
    box-shadow: 0 0 6px #d1435b66;
  }

  &.level-medium {
    background: #8C4BD1;
    box-shadow: 0 0 6px #8c4bd166;
  }

  &.level-advanced {
    background: #1E9BD1;
    box-shadow: 0 0 6px #1e9bd166;
  }
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale{
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
