<div class="container-projects">
    <div class="container-planet">
        <img src="../../../assets/images/projects-planet.png" alt="Planeta" />
    </div>
    <h2 class="title-section">Proyectos</h2>
    <div class="container-cards">
        <div class="project-card">
            <div class="project-image">
                <img src="../../../assets/images/CONTAPP.png" alt="Imagen del proyecto" />
            </div>

            <div class="project-content">
                <h3 class="project-title">Contapp</h3>

                <p class="project-description">
                    Aplicación educativa para estudiantes de contaduría, simulando un entorno contable real.
                </p>

                <div class="project-tech">
                     <i class="fab fa-angular"></i>
                    <i class="fab fa-tailwind"></i>
                    <i class="fab fa-spring"></i>
                    <i class="fab fa-java"></i>
                </div>

                <div class="project-links">
                    <a href="https://github.com/tu-repo" target="_blank" class="btn-glow">Código</a>
                    <a href="https://tu-proyecto.com" target="_blank" class="btn-glow">Ver demo</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="../../../assets/images/CONTAPP.png" alt="Imagen del proyecto" />
            </div>

            <div class="project-content">
                <h3 class="project-title">Contapp</h3>

                <p class="project-description">
                    Aplicación educativa para estudiantes de contaduría, simulando un entorno contable real.
                </p>

                <div class="project-tech">
                     <i class="fab fa-angular"></i>
                    <i class="fab fa-tailwind"></i>
                    <i class="fab fa-spring"></i>
                    <i class="fab fa-java"></i>
                </div>

                <div class="project-links">
                    <a href="https://github.com/tu-repo" target="_blank" class="btn-glow">Código</a>
                    <a href="https://tu-proyecto.com" target="_blank" class="btn-glow">Ver demo</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="../../../assets/images/CONTAPP.png" alt="Imagen del proyecto" />
            </div>

            <div class="project-content">
                <h3 class="project-title">Contapp</h3>

                <p class="project-description">
                    Aplicación educativa para estudiantes de contaduría, simulando un entorno contable real.
                </p>

                <div class="project-tech">
                     <i class="fab fa-angular"></i>
                    <i class="fab fa-tailwind"></i>
                    <i class="fab fa-spring"></i>
                    <i class="fab fa-java"></i>
                </div>

                <div class="project-links">
                    <a href="https://github.com/tu-repo" target="_blank" class="btn-glow">Código</a>
                    <a href="https://tu-proyecto.com" target="_blank" class="btn-glow">Ver demo</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="../../../assets/images/CONTAPP.png" alt="Imagen del proyecto" />
            </div>

            <div class="project-content">
                <h3 class="project-title">Contapp</h3>

                <p class="project-description">
                    Aplicación educativa para estudiantes de contaduría, simulando un entorno contable real.
                </p>

                <div class="project-tech">
                    <i class="fab fa-angular"></i>
                    <i class="fab fa-tailwind"></i>
                    <i class="fab fa-spring"></i>
                    <i class="fab fa-java"></i>
                </div>

                <div class="project-links">
                    <a href="https://github.com/tu-repo" target="_blank" class="btn-glow">Código</a>
                    <a href="https://tu-proyecto.com" target="_blank" class="btn-glow">Ver demo</a>
                </div>
            </div>
        </div>
    </div>


</div>