<div class="main-content">
    <section id="about-me" class="fade-section">
        <app-about-me></app-about-me>
    </section>
        <section class="fade-section" id="projects">
        <app-projects></app-projects>
    </section>
    <section id="skills">
        <app-skills></app-skills>
    </section>
    <section id="education">
        <app-education></app-education>
    </section>
    <section id="contact-me" class="fade-section">
        <app-contact-me></app-contact-me>
    </section>
</div>