.about-container {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

.sub-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    display: grid;
}

.profile-img {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

h2 {
    font-size: 1.3rem;
}

.name{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

  .description-about-me {
    max-width: 70%;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: #cccccc;
  }

   .social-icons {
    display: flex;
    gap: 1.2rem;

    a {
      padding: 8px;
      border-radius: 10px;
      border: 1px solid #1E9BD1;
      font-size: 1.5rem;
      color: #1E9BD1;
      transition: color 0.3s;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .cohete-img {
    position:  absolute;
    top: 20%;
    left: 50%;
  }

  .cohete-img img{
    width: 40%;
    height: auto;
    rotate: 0deg;
  }



