<div class="about-container">
  
    <div class="sub-container">
        <div class="profile-img">
            <img src="assets/images/photo-main.jpg" alt="Mi foto de perfil">
        </div>
        <h1 class="name title-font typewriter"><span class="typewriter-text">Hola! soy Santiago...</span></h1>
        <h2 class="subtitile-name subtitle-font   glow-border">Desarrollador Full Stack</h2>

        <div class="description-about-me base-font">
            <p>
                🚀 Apasionado por crear aplicaciones web completas, desde el motor que impulsa todo (backend) hasta la cabina de control con una interfaz intuitiva y atractiva (frontend). 
            </p>
            <p>
                Mi enfoque está en desarrollar soluciones tecnológicas que no solo funcionen bien, sino que también inspiren y conecten con los usuarios.
            </p>
        </div>

        <div class="social-icons">
            <a href="https://github.com/RubenSantiagoCP" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://linkedin.com/in/rscruz1711" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="mailto:santiagocruz.dev@gmail.com" aria-label="Correo">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="" aria-label="Hoja de vida">
                <i class="fas fa-book"></i>
            </a>
        </div>
    </div>
    <div class="cohete-img">
        <img src="assets/images/cohe.png" alt="Cohete">
    </div>
</div>